.footer-container-primary {
    display: flex;
    justify-content: space-between;
}

.footer-branding {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1.33rem;
}

.footer-branding h3 {
    margin: 0.4rem;
}

.footer-branding p {
    margin: 0.25rem;
}

.footer-links-container {
    display: flex;
    gap: 3rem;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}